@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #27C932;
  --color-primary-hover: #1BB635;
}

.opay-mode {
  --color-primary: #1DCF9F;
  --color-primary-hover: #15B085;
}

body {
  background-color: #FFFFFF;
  color: #111111;
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
